.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main .choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main .choice-container h1 {
  margin: 20px;
  text-align: center;
  color: white;
}
.main .choice-container h1 .user-name {
  color: #ee5b26;
  font-family: "Orbitron", sans-serif;
}
.main .choice-container .logo {
  width: 250px;
  margin: auto;
  padding-top: 10px;
}
@media screen and (min-width: 600px) {
  .main .choice-container .logo {
    width: 500px;
  }
}
.main .choice-container .logo img {
  width: 100%;
}
.main .choice-container .carroussel {
  width: 280px;
  max-width: 900px;
  margin: 30px auto;
  display: flex;
  gap: 10px;
  padding: 20px;
  overflow-x: scroll;
  border: 2px solid #ee5b26;
  border-radius: 10px;
  background-color: #2D2C3C;
}
@media screen and (min-width: 400px) {
  .main .choice-container .carroussel {
    width: 380px;
  }
}
@media screen and (min-width: 500px) {
  .main .choice-container .carroussel {
    width: 480px;
  }
}
@media screen and (min-width: 600px) {
  .main .choice-container .carroussel {
    width: 580px;
  }
}
@media screen and (min-width: 700px) {
  .main .choice-container .carroussel {
    width: 680px;
  }
}
@media screen and (min-width: 800px) {
  .main .choice-container .carroussel {
    width: 780px;
  }
}
@media screen and (min-width: 900px) {
  .main .choice-container .carroussel {
    width: 880px;
  }
}
.main .choice-container .carroussel .image {
  height: 200px;
}
.main .choice-container .carroussel .image img {
  height: 100%;
}
.main .choice-container .carroussel .selected {
  border: 3px solid #ee5b26;
  height: 200px;
}
.main .choice-container .carroussel .selected img {
  height: 100%;
}
.main .choice-container .links {
  display: flex;
  flex-direction: column;
}
.main .choice-container .links .button {
  width: 20%;
  margin: auto;
}
.main .choice-container .links .skip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main a:nth-of-type(2) {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.welcome {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .infos {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
}
.welcome .infos figure {
  width: 300px;
}
.welcome .infos figure img {
  width: 100%;
}
.welcome .infos h1 {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
}
.welcome .infos h1 .title-color {
  display: none;
}
.welcome .infos .text {
  color: white;
  padding: 5px 10px;
}
.welcome .infos .log-container {
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  min-height: unset;
}
.welcome .infos .log-container .buttons-container {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.welcome .infos .log-container .buttons-container .button {
  width: 135px;
}
.welcome .infos .log-container .buttons-container .active-btn {
  width: 135px;
  background-color: white;
  color: #ee5b26;
}
.welcome .infos .log-container .login,
.welcome .infos .log-container .register {
  margin-top: 50px;
  text-align: center;
}
.welcome .infos .log-container .login figure,
.welcome .infos .log-container .register figure {
  width: 250px;
  margin: auto;
  padding-top: 10px;
}
.welcome .infos .log-container .login figure img,
.welcome .infos .log-container .register figure img {
  width: 100%;
}
.welcome .infos .log-container .login h2,
.welcome .infos .log-container .register h2 {
  color: white;
  margin: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
}
.welcome .infos .log-container .login form .user,
.welcome .infos .log-container .login form .email,
.welcome .infos .log-container .login form .birth,
.welcome .infos .log-container .login form .password,
.welcome .infos .log-container .login form .avatar,
.welcome .infos .log-container .register form .user,
.welcome .infos .log-container .register form .email,
.welcome .infos .log-container .register form .birth,
.welcome .infos .log-container .register form .password,
.welcome .infos .log-container .register form .avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 5px;
}
.welcome .infos .log-container .login form .user label,
.welcome .infos .log-container .login form .email label,
.welcome .infos .log-container .login form .birth label,
.welcome .infos .log-container .login form .password label,
.welcome .infos .log-container .login form .avatar label,
.welcome .infos .log-container .register form .user label,
.welcome .infos .log-container .register form .email label,
.welcome .infos .log-container .register form .birth label,
.welcome .infos .log-container .register form .password label,
.welcome .infos .log-container .register form .avatar label {
  color: white;
  margin-bottom: 5px;
}
.welcome .infos .log-container .login form input,
.welcome .infos .log-container .register form input {
  width: 200px !important;
}
.welcome .infos .log-container .login form input[type=checkbox],
.welcome .infos .log-container .register form input[type=checkbox] {
  width: unset !important;
}
.welcome .infos .log-container .login form .rgpd,
.welcome .infos .log-container .register form .rgpd {
  width: 50%;
  margin: auto;
  display: flex;
  gap: 10px;
}
.welcome .infos .log-container .login form .error,
.welcome .infos .log-container .register form .error {
  color: red;
}
.welcome .infos .log-container .login form input[type=text],
.welcome .infos .log-container .login form input[type=password],
.welcome .infos .log-container .login form input[type=date],
.welcome .infos .log-container .register form input[type=text],
.welcome .infos .log-container .register form input[type=password],
.welcome .infos .log-container .register form input[type=date] {
  border: 2px solid #ee5b26;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  text-align: center;
}
.welcome .infos .log-container .login form input[type=date],
.welcome .infos .log-container .register form input[type=date] {
  width: 25%;
}
.welcome .infos .log-container .login a,
.welcome .infos .log-container .register a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.welcome .infos .log-container .login a:hover,
.welcome .infos .log-container .register a:hover {
  color: #ee5b26;
}
.welcome .infos .log-container .login #user::-moz-placeholder {
  text-align: center;
}
.welcome .infos .log-container .login #user::placeholder {
  text-align: center;
}
.welcome .infos .log-container .register h1 {
  margin: 0;
  width: 100%;
}
.welcome .infos .log-container .register .age-error {
  color: red;
  font-size: 1.3rem;
}
.welcome .infos .log-container .register .avatar {
  width: 80% !important;
}
.welcome .infos .log-container .register .avatar label {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.welcome .infos .log-container .register .avatar label .file-input {
  width: 25px;
  height: 25px;
}
.welcome .infos .log-container .register .avatar input {
  display: none;
  background-color: #ee5b26;
}
.welcome .infos .log-container .register .password .password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.welcome .infos .log-container .register .password .password-container .showPassword {
  position: absolute;
  left: 5px;
  color: white;
  cursor: pointer;
}
.welcome .infos .log-container .register .rgpd label {
  font-size: 0.8rem;
  color: white;
}

.profil {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.profil .container {
  width: 100%;
}
.profil .container .avatar {
  position: relative;
  width: 80px !important;
  height: 80px;
  margin: auto;
  background-color: black;
  padding: 10px;
}
.profil .container .avatar img {
  width: 100%;
  height: 100%;
}
.profil .container .avatar form {
  position: relative;
}
.profil .container .avatar form .pencil {
  color: white;
  position: absolute;
  top: -70px;
  right: 0;
  cursor: pointer;
  color: #ee5b26;
}
.profil .container .avatar form input {
  display: none;
}
.profil .container .avatar form .button,
.profil .container .avatar form .empty-avatar {
  position: absolute;
  left: 80px;
  margin: auto;
  top: -50px;
  width: -moz-max-content;
  width: max-content;
}
.profil .container .avatar form .empty-avatar {
  color: #ee5b26;
}
.profil .container .biographie {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.profil .container .biographie .label-container {
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  .profil .container .biographie .label-container {
    width: 40%;
  }
}
.profil .container .biographie .label-container p:first-of-type {
  color: white;
  font-weight: bold;
  padding: 10px;
}
.profil .container .biographie .label-container p {
  color: white;
}
.profil .container .biographie .label-container .roles .role {
  font-weight: unset !important;
}
.profil .container .biographie .label-container .name {
  text-transform: uppercase;
}
.profil .container .biographie .label-container .pencil {
  color: #ee5b26;
  cursor: pointer;
}
.profil .container .biographie form {
  display: flex;
  flex-direction: column;
}
.profil .container .biographie form textarea {
  background-color: #2D2C3C;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ee5b26;
  resize: none;
}
.profil .container .biographie form .button {
  width: 50%;
  margin: 20px auto 0;
  text-align: center;
  justify-content: center;
}
.profil .container h1 {
  color: white;
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
}
.profil .container h1 span {
  color: #ee5b26;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}
.profil .container .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.profil .container .links a {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.profil .container .account-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10vh;
  color: white;
}
.profil .container .account-actions p {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  cursor: pointer;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
.favorites-container h1 {
  padding: 10px;
  color: white;
  font-family: "Orbitron", sans-serif;
}
.favorites-container .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 10px 0;
  width: 80%;
  max-width: 900px;
  margin: auto;
}
@media screen and (min-width: 499px) {
  .favorites-container .container {
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
  }
}
@media screen and (min-width: 599px) {
  .favorites-container .container {
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
  }
}
@media screen and (min-width: 699px) {
  .favorites-container .container {
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
  }
}
.favorites-container .container .emptyList {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 10;
}
.favorites-container .container .emptyList .link {
  color: #ee5b26;
}
.favorites-container .container .image {
  position: relative;
  height: 100%;
  max-width: 150px;
}
.favorites-container .container .image .trash {
  color: white;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: black;
  padding: 5px;
  cursor: pointer;
}
.favorites-container .container .image a {
  height: 100%;
}
.favorites-container .container .image a img {
  width: 100%;
  height: 100%;
}
.favorites-container a {
  display: inline-block;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.informations h1 {
  color: white;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
.informations h1 .name {
  color: #ee5b26;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}
.informations .informations-container {
  width: 80%;
  margin: auto;
  max-width: 400px;
}
.informations .informations-container .avatar {
  position: relative;
  width: 80px !important;
  height: 80px;
  margin: auto;
  background-color: black;
  padding: 10px;
}
.informations .informations-container .avatar img {
  width: 100%;
  height: 100%;
}
.informations .informations-container .avatar form {
  position: relative;
}
.informations .informations-container .avatar form .pencil {
  color: white;
  position: absolute;
  top: -70px;
  right: 0;
  cursor: pointer;
  color: #ee5b26;
}
.informations .informations-container .avatar form input {
  display: none;
}
.informations .informations-container .avatar form .button,
.informations .informations-container .avatar form .empty-avatar {
  position: absolute;
  left: 80px;
  margin: auto;
  top: -50px;
  width: -moz-max-content;
  width: max-content;
}
.informations .informations-container .avatar form .empty-avatar {
  color: #ee5b26;
}
.informations .informations-container .info {
  text-align: center;
  display: flex;
  align-items: left;
  margin: 30px 0;
  flex-direction: column;
}
.informations .informations-container .info .label-container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.informations .informations-container .info .label-container p:first-of-type {
  color: white;
  font-weight: bold;
}
.informations .informations-container .info .label-container p {
  color: white;
}
.informations .informations-container .info .label-container .roles .role {
  font-weight: unset !important;
}
.informations .informations-container .info .label-container .name {
  text-transform: uppercase;
}
.informations .informations-container .info .pencil {
  color: #EE5B26;
  cursor: pointer;
}
.informations .informations-container .info form {
  position: relative;
  width: 100%;
}
.informations .informations-container .info form .pencil {
  color: white;
  cursor: pointer;
  color: #ee5b26;
}
.informations .informations-container .info form input {
  border: 2px solid #ee5b26;
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 50px;
}
.informations .informations-container .info form .button,
.informations .informations-container .info form .empty-userName {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}
.informations .informations-container .info .empty-data {
  color: #ee5b26;
}
.informations .informations-container .account-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10vh;
}
.informations .informations-container .account-actions a {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
}

.home h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 30px 0;
  width: 80%;
  margin: auto;
}
.home h1 span {
  color: #EE5B26;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}
.home .buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.home h2 {
  color: white;
  padding: 2px;
  font-size: 1.2rem;
}
.home .movies-home-container,
.home .series-home-container {
  text-align: center;
}
.home .movies-home-container > h2,
.home .series-home-container > h2 {
  position: relative;
  font-size: 1.3rem;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.home .movies-home-container > h2 .right-fox,
.home .series-home-container > h2 .right-fox {
  transform: rotateY(180deg);
}
.home .movies-home-container > h2 .fox,
.home .series-home-container > h2 .fox {
  color: #ee5b26;
}
.home .movies-home-container .posts-container .series-posts,
.home .series-home-container .posts-container .series-posts {
  width: 80%;
  margin: auto;
}
.home .movies-home-container .posts-container .series-posts .post,
.home .series-home-container .posts-container .series-posts .post {
  margin: 20px auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  max-width: 450px;
}
.home .movies-home-container .posts-container .series-posts .post .user-avatar,
.home .series-home-container .posts-container .series-posts .post .user-avatar {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #EE5B26;
  background-color: black;
}
.home .movies-home-container .posts-container .series-posts .post .user-avatar img,
.home .series-home-container .posts-container .series-posts .post .user-avatar img {
  width: 100%;
}
.home .movies-home-container .posts-container .series-posts .post .post-infos,
.home .series-home-container .posts-container .series-posts .post .post-infos {
  text-align: center;
  margin: auto;
  width: 80%;
}
.home .movies-home-container .posts-container .series-posts .post .post-infos h3,
.home .series-home-container .posts-container .series-posts .post .post-infos h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0;
}
@media screen and (min-width: 499px) {
  .home .movies-home-container .posts-container .series-posts .post .post-infos h3,
  .home .series-home-container .posts-container .series-posts .post .post-infos h3 {
    font-size: 18px;
  }
}
.home .movies-home-container .posts-container .series-posts .post .post-infos p,
.home .series-home-container .posts-container .series-posts .post .post-infos p {
  margin: 2px 0;
  font-size: 12px;
}
@media screen and (min-width: 499px) {
  .home .movies-home-container .posts-container .series-posts .post .post-infos p,
  .home .series-home-container .posts-container .series-posts .post .post-infos p {
    font-size: 14px;
  }
}
.home .movies-home-container .posts-container .series-posts .post .post-infos .details,
.home .series-home-container .posts-container .series-posts .post .post-infos .details {
  display: flex;
  justify-content: space-around;
}
.home .movies-home-container .posts-container .series-posts .post .post-infos .details p,
.home .series-home-container .posts-container .series-posts .post .post-infos .details p {
  margin: 2px 0;
  font-size: 10px;
}
@media screen and (min-width: 499px) {
  .home .movies-home-container .posts-container .series-posts .post .post-infos .details p,
  .home .series-home-container .posts-container .series-posts .post .post-infos .details p {
    font-size: 12px;
  }
}
.home .movies-home-container .popular-container h2,
.home .series-home-container .popular-container h2 {
  font-size: 1.4rem;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .home .movies-home-container .popular-container h2,
  .home .series-home-container .popular-container h2 {
    font-size: 2rem;
  }
}
.home .movies-home-container .popular-container h3,
.home .series-home-container .popular-container h3 {
  color: white;
}
.home .movies-home-container .popular-container .container,
.home .series-home-container .popular-container .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 10px 0;
  width: 80%;
  max-width: 900px;
  margin: auto;
}
@media screen and (min-width: 499px) {
  .home .movies-home-container .popular-container .container,
  .home .series-home-container .popular-container .container {
    width: -moz-max-content;
    width: max-content;
  }
}
.home .movies-home-container .popular-container .container .image,
.home .series-home-container .popular-container .container .image {
  height: 100%;
  max-width: 150px;
}
.home .movies-home-container .popular-container .container .image img,
.home .series-home-container .popular-container .container .image img {
  width: 100%;
  height: 100%;
}

.movie-container,
.serie-container {
  min-height: 80vh;
}
.movie-container .infos-container,
.serie-container .infos-container {
  position: relative;
  margin: auto;
  display: grid;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .movie-container .infos-container,
  .serie-container .infos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .movie-container .infos-container,
  .serie-container .infos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.movie-container .infos-container .follow,
.serie-container .infos-container .follow {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  top: 0;
  right: 10px;
}
.movie-container .infos-container .follow .heart,
.serie-container .infos-container .follow .heart {
  font-size: 2rem;
  color: white;
}
.movie-container .infos-container .follow .active-heart,
.serie-container .infos-container .follow .active-heart {
  font-size: 2rem;
  color: red;
}
.movie-container .infos-container .image,
.serie-container .infos-container .image {
  width: 200px;
  height: 300px;
  border: 2px solid #ee5b26;
  margin: 5px;
  border-radius: 20px;
  margin: auto;
}
@media screen and (min-width: 1300px) {
  .movie-container .infos-container .image,
  .serie-container .infos-container .image {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
.movie-container .infos-container .image img,
.serie-container .infos-container .image img {
  height: 100%;
  border-radius: 20px;
  width: 100%;
}
.movie-container .infos-container .synopsis,
.movie-container .infos-container .infos,
.serie-container .infos-container .synopsis,
.serie-container .infos-container .infos {
  height: 100%;
}
.movie-container .infos-container .infos,
.serie-container .infos-container .infos {
  display: grid;
  grid-template-rows: 2fr, 1fr;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1300px) {
  .movie-container .infos-container .infos,
  .serie-container .infos-container .infos {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.movie-container .infos-container .infos h1,
.serie-container .infos-container .infos h1 {
  text-align: center;
}
.movie-container .infos-container .infos .categories-container,
.serie-container .infos-container .infos .categories-container {
  display: flex;
  gap: 10px;
}
.movie-container .infos-container .details,
.serie-container .infos-container .details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  color: white;
  text-align: center;
}
.movie-container .infos-container .details .info-name,
.serie-container .infos-container .details .info-name {
  font-weight: bold;
}
.movie-container .infos-container .details .categories-container,
.serie-container .infos-container .details .categories-container {
  display: flex;
  justify-content: center;
}
.movie-container .infos-container .synopsis,
.serie-container .infos-container .synopsis {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .movie-container .infos-container .synopsis,
  .serie-container .infos-container .synopsis {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (min-width: 1300px) {
  .movie-container .infos-container .synopsis,
  .serie-container .infos-container .synopsis {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    align-items: center;
  }
}
.movie-container .infos-container .synopsis h2,
.serie-container .infos-container .synopsis h2 {
  color: #ee5b26;
}
.movie-container .infos-container .synopsis .text,
.serie-container .infos-container .synopsis .text {
  height: 100%;
}
.movie-container .infos-container .synopsis .text p,
.serie-container .infos-container .synopsis .text p {
  margin-top: 10px;
  color: white;
}
.movie-container .modals-container,
.serie-container .modals-container {
  width: 100%;
  margin-top: 30px;
}
.movie-container .modals-container .modals-links-container,
.serie-container .modals-container .modals-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background-color: white;
  padding: 5px;
}
.movie-container .modals-container .modals-links-container p,
.serie-container .modals-container .modals-links-container p {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
}
.movie-container .modals-container .modals-links-container .active,
.serie-container .modals-container .modals-links-container .active {
  color: #ee5b26;
}
.movie-container .modals-container .discussions,
.movie-container .modals-container .opinions,
.serie-container .modals-container .discussions,
.serie-container .modals-container .opinions {
  text-align: center;
  display: grid;
  flex-direction: column;
  gap: 10px;
}
.movie-container .modals-container .discussions h2,
.movie-container .modals-container .opinions h2,
.serie-container .modals-container .discussions h2,
.serie-container .modals-container .opinions h2 {
  font-size: 1.4rem;
  background-color: #ee5b26;
  color: white;
  padding: 5px;
  font-weight: normal;
}
.movie-container .modals-container .discussions p,
.movie-container .modals-container .opinions p,
.serie-container .modals-container .discussions p,
.serie-container .modals-container .opinions p {
  padding: 20px;
  color: white;
}
.movie-container .modals-container .discussions .button,
.movie-container .modals-container .opinions .button,
.serie-container .modals-container .discussions .button,
.serie-container .modals-container .opinions .button {
  margin: 10px auto 10px;
  padding: 10px;
}
.movie-container .modals-container .discussions .button:hover,
.movie-container .modals-container .opinions .button:hover,
.serie-container .modals-container .discussions .button:hover,
.serie-container .modals-container .opinions .button:hover {
  color: #ee5b26;
}
.movie-container .modals-container .discussions .discussions-container,
.movie-container .modals-container .discussions .opinions-container,
.movie-container .modals-container .opinions .discussions-container,
.movie-container .modals-container .opinions .opinions-container,
.serie-container .modals-container .discussions .discussions-container,
.serie-container .modals-container .discussions .opinions-container,
.serie-container .modals-container .opinions .discussions-container,
.serie-container .modals-container .opinions .opinions-container {
  display: grid;
  gap: 15px;
}
@media screen and (min-width: 1100px) {
  .movie-container .modals-container .discussions .discussions-container,
  .movie-container .modals-container .discussions .opinions-container,
  .movie-container .modals-container .opinions .discussions-container,
  .movie-container .modals-container .opinions .opinions-container,
  .serie-container .modals-container .discussions .discussions-container,
  .serie-container .modals-container .discussions .opinions-container,
  .serie-container .modals-container .opinions .discussions-container,
  .serie-container .modals-container .opinions .opinions-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.movie-container .modals-container .discussions .discussions-container .discussion,
.movie-container .modals-container .discussions .discussions-container .opinion,
.movie-container .modals-container .discussions .opinions-container .discussion,
.movie-container .modals-container .discussions .opinions-container .opinion,
.movie-container .modals-container .opinions .discussions-container .discussion,
.movie-container .modals-container .opinions .discussions-container .opinion,
.movie-container .modals-container .opinions .opinions-container .discussion,
.movie-container .modals-container .opinions .opinions-container .opinion,
.serie-container .modals-container .discussions .discussions-container .discussion,
.serie-container .modals-container .discussions .discussions-container .opinion,
.serie-container .modals-container .discussions .opinions-container .discussion,
.serie-container .modals-container .discussions .opinions-container .opinion,
.serie-container .modals-container .opinions .discussions-container .discussion,
.serie-container .modals-container .opinions .discussions-container .opinion,
.serie-container .modals-container .opinions .opinions-container .discussion,
.serie-container .modals-container .opinions .opinions-container .opinion {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}
@media screen and (min-width: 700px) {
  .movie-container .modals-container .discussions .discussions-container .discussion,
  .movie-container .modals-container .discussions .discussions-container .opinion,
  .movie-container .modals-container .discussions .opinions-container .discussion,
  .movie-container .modals-container .discussions .opinions-container .opinion,
  .movie-container .modals-container .opinions .discussions-container .discussion,
  .movie-container .modals-container .opinions .discussions-container .opinion,
  .movie-container .modals-container .opinions .opinions-container .discussion,
  .movie-container .modals-container .opinions .opinions-container .opinion,
  .serie-container .modals-container .discussions .discussions-container .discussion,
  .serie-container .modals-container .discussions .discussions-container .opinion,
  .serie-container .modals-container .discussions .opinions-container .discussion,
  .serie-container .modals-container .discussions .opinions-container .opinion,
  .serie-container .modals-container .opinions .discussions-container .discussion,
  .serie-container .modals-container .opinions .discussions-container .opinion,
  .serie-container .modals-container .opinions .opinions-container .discussion,
  .serie-container .modals-container .opinions .opinions-container .opinion {
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .movie-container .modals-container .discussions .discussions-container .discussion,
  .movie-container .modals-container .discussions .discussions-container .opinion,
  .movie-container .modals-container .discussions .opinions-container .discussion,
  .movie-container .modals-container .discussions .opinions-container .opinion,
  .movie-container .modals-container .opinions .discussions-container .discussion,
  .movie-container .modals-container .opinions .discussions-container .opinion,
  .movie-container .modals-container .opinions .opinions-container .discussion,
  .movie-container .modals-container .opinions .opinions-container .opinion,
  .serie-container .modals-container .discussions .discussions-container .discussion,
  .serie-container .modals-container .discussions .discussions-container .opinion,
  .serie-container .modals-container .discussions .opinions-container .discussion,
  .serie-container .modals-container .discussions .opinions-container .opinion,
  .serie-container .modals-container .opinions .discussions-container .discussion,
  .serie-container .modals-container .opinions .discussions-container .opinion,
  .serie-container .modals-container .opinions .opinions-container .discussion,
  .serie-container .modals-container .opinions .opinions-container .opinion {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .movie-container .modals-container .discussions .discussions-container .discussion,
  .movie-container .modals-container .discussions .discussions-container .opinion,
  .movie-container .modals-container .discussions .opinions-container .discussion,
  .movie-container .modals-container .discussions .opinions-container .opinion,
  .movie-container .modals-container .opinions .discussions-container .discussion,
  .movie-container .modals-container .opinions .discussions-container .opinion,
  .movie-container .modals-container .opinions .opinions-container .discussion,
  .movie-container .modals-container .opinions .opinions-container .opinion,
  .serie-container .modals-container .discussions .discussions-container .discussion,
  .serie-container .modals-container .discussions .discussions-container .opinion,
  .serie-container .modals-container .discussions .opinions-container .discussion,
  .serie-container .modals-container .discussions .opinions-container .opinion,
  .serie-container .modals-container .opinions .discussions-container .discussion,
  .serie-container .modals-container .opinions .discussions-container .opinion,
  .serie-container .modals-container .opinions .opinions-container .discussion,
  .serie-container .modals-container .opinions .opinions-container .opinion {
    width: 70%;
  }
}
.movie-container .modals-container .discussions .discussions-container .discussion figure,
.movie-container .modals-container .discussions .discussions-container .opinion figure,
.movie-container .modals-container .discussions .opinions-container .discussion figure,
.movie-container .modals-container .discussions .opinions-container .opinion figure,
.movie-container .modals-container .opinions .discussions-container .discussion figure,
.movie-container .modals-container .opinions .discussions-container .opinion figure,
.movie-container .modals-container .opinions .opinions-container .discussion figure,
.movie-container .modals-container .opinions .opinions-container .opinion figure,
.serie-container .modals-container .discussions .discussions-container .discussion figure,
.serie-container .modals-container .discussions .discussions-container .opinion figure,
.serie-container .modals-container .discussions .opinions-container .discussion figure,
.serie-container .modals-container .discussions .opinions-container .opinion figure,
.serie-container .modals-container .opinions .discussions-container .discussion figure,
.serie-container .modals-container .opinions .discussions-container .opinion figure,
.serie-container .modals-container .opinions .opinions-container .discussion figure,
.serie-container .modals-container .opinions .opinions-container .opinion figure {
  width: 50px;
  height: 50px;
}
.movie-container .modals-container .discussions .discussions-container .discussion figure img,
.movie-container .modals-container .discussions .discussions-container .opinion figure img,
.movie-container .modals-container .discussions .opinions-container .discussion figure img,
.movie-container .modals-container .discussions .opinions-container .opinion figure img,
.movie-container .modals-container .opinions .discussions-container .discussion figure img,
.movie-container .modals-container .opinions .discussions-container .opinion figure img,
.movie-container .modals-container .opinions .opinions-container .discussion figure img,
.movie-container .modals-container .opinions .opinions-container .opinion figure img,
.serie-container .modals-container .discussions .discussions-container .discussion figure img,
.serie-container .modals-container .discussions .discussions-container .opinion figure img,
.serie-container .modals-container .discussions .opinions-container .discussion figure img,
.serie-container .modals-container .discussions .opinions-container .opinion figure img,
.serie-container .modals-container .opinions .discussions-container .discussion figure img,
.serie-container .modals-container .opinions .discussions-container .opinion figure img,
.serie-container .modals-container .opinions .opinions-container .discussion figure img,
.serie-container .modals-container .opinions .opinions-container .opinion figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.movie-container .modals-container .discussions .discussions-container .discussion .infos,
.movie-container .modals-container .discussions .discussions-container .opinion .infos,
.movie-container .modals-container .discussions .opinions-container .discussion .infos,
.movie-container .modals-container .discussions .opinions-container .opinion .infos,
.movie-container .modals-container .opinions .discussions-container .discussion .infos,
.movie-container .modals-container .opinions .discussions-container .opinion .infos,
.movie-container .modals-container .opinions .opinions-container .discussion .infos,
.movie-container .modals-container .opinions .opinions-container .opinion .infos,
.serie-container .modals-container .discussions .discussions-container .discussion .infos,
.serie-container .modals-container .discussions .discussions-container .opinion .infos,
.serie-container .modals-container .discussions .opinions-container .discussion .infos,
.serie-container .modals-container .discussions .opinions-container .opinion .infos,
.serie-container .modals-container .opinions .discussions-container .discussion .infos,
.serie-container .modals-container .opinions .discussions-container .opinion .infos,
.serie-container .modals-container .opinions .opinions-container .discussion .infos,
.serie-container .modals-container .opinions .opinions-container .opinion .infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.movie-container .modals-container .discussions .opinions-container .no-opinions,
.movie-container .modals-container .opinions .opinions-container .no-opinions,
.serie-container .modals-container .discussions .opinions-container .no-opinions,
.serie-container .modals-container .opinions .opinions-container .no-opinions {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #ee5b26;
  font-weight: bold;
  font-size: 1.2rem;
}
.movie-container .modals-container .discussions .discussion figure,
.serie-container .modals-container .discussions .discussion figure {
  width: 50px;
  height: 50px;
}
.movie-container .modals-container .discussions .discussion figure img,
.serie-container .modals-container .discussions .discussion figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.movie-container .modals-container .discussions .discussion .infos .others-infos,
.serie-container .modals-container .discussions .discussion .infos .others-infos {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.movie-container .modals-container .discussions .discussion .infos .others-infos p,
.serie-container .modals-container .discussions .discussion .infos .others-infos p {
  color: black;
  padding: 0;
}
.movie-container .modals-container .opinions .opinion,
.serie-container .modals-container .opinions .opinion {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
}
@media screen and (min-width: 550px) {
  .movie-container .modals-container .opinions .opinion,
  .serie-container .modals-container .opinions .opinion {
    flex-direction: row;
  }
}
@media screen and (min-width: 700px) {
  .movie-container .modals-container .opinions .opinion,
  .serie-container .modals-container .opinions .opinion {
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .movie-container .modals-container .opinions .opinion,
  .serie-container .modals-container .opinions .opinion {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .movie-container .modals-container .opinions .opinion,
  .serie-container .modals-container .opinions .opinion {
    width: 70%;
  }
}
.movie-container .modals-container .opinions .opinion figure,
.serie-container .modals-container .opinions .opinion figure {
  width: 50px;
  height: 50px;
}
.movie-container .modals-container .opinions .opinion figure img,
.serie-container .modals-container .opinions .opinion figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.movie-container .modals-container .opinions .opinion .infos,
.serie-container .modals-container .opinions .opinion .infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.movie-container .modals-container .opinions .opinion .infos .note,
.serie-container .modals-container .opinions .opinion .infos .note {
  display: flex;
  justify-content: center;
  gap: 2px;
  padding-right: 5px;
}
.movie-container .modals-container .opinions .opinion .infos .note .star,
.serie-container .modals-container .opinions .opinion .infos .note .star {
  color: gold;
}
.movie-container .modals-container .opinions .opinion .infos .note .not-start,
.serie-container .modals-container .opinions .opinion .infos .note .not-start {
  color: black;
}
.movie-container .modals-container .opinions .opinion p,
.serie-container .modals-container .opinions .opinion p {
  color: black;
  margin: 0;
  padding: 0 !important;
}
.movie-container .modals-container .opinions .opinion .trash,
.serie-container .modals-container .opinions .opinion .trash {
  cursor: pointer;
}
.movie-container .modals-container .create-opinion .opinion,
.serie-container .modals-container .create-opinion .opinion {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  height: unset;
}
@media screen and (min-width: 700px) {
  .movie-container .modals-container .create-opinion .opinion,
  .serie-container .modals-container .create-opinion .opinion {
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .movie-container .modals-container .create-opinion .opinion,
  .serie-container .modals-container .create-opinion .opinion {
    width: 50%;
  }
}
.movie-container .modals-container .create-opinion .opinion figure,
.serie-container .modals-container .create-opinion .opinion figure {
  width: 50px;
  height: 50px;
}
.movie-container .modals-container .create-opinion .opinion figure img,
.serie-container .modals-container .create-opinion .opinion figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
}
.movie-container .modals-container .create-opinion .opinion .infos,
.serie-container .modals-container .create-opinion .opinion .infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.movie-container .modals-container form,
.serie-container .modals-container form {
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto;
}
.movie-container .modals-container form label,
.serie-container .modals-container form label {
  color: white;
  margin: 5px;
  font-weight: bold;
}
.movie-container .modals-container form textarea,
.movie-container .modals-container form input,
.serie-container .modals-container form textarea,
.serie-container .modals-container form input {
  border: 2px solid #ee5b26;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding: 10px;
}
.movie-container .modals-container form input,
.serie-container .modals-container form input {
  width: 30%;
  margin: auto;
}

.not-found {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.not-found .container figure {
  width: 80%;
  margin: auto;
}
.not-found .container figure img {
  width: 100%;
}
.not-found .container h1 {
  font-size: 1.6rem;
  color: white;
  text-align: center;
}
.not-found .container a {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  color: #ee5b26;
  font-size: 1.4rem;
}

.all-medias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.all-medias h1,
.all-medias h2 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.all-medias h2 {
  font-size: 1.3rem;
}
.all-medias .categories-select {
  margin: auto;
  width: 200px;
  text-align: center;
  border: 2px solid #ee5b26;
  border-radius: 10px;
  padding: 10px;
  background-color: #3d3b54;
  color: white;
}
.all-medias .categories-select .category {
  font-family: "Roboto", sans-serif;
}
.all-medias .categories-select .all-series, .all-medias .categories-select .all-movies {
  font-weight: bold;
}
.all-medias .series-container, .all-medias .movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all-medias .series-container .series-list, .all-medias .series-container .movies-list, .all-medias .movies-container .series-list, .all-medias .movies-container .movies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 10px 0;
  width: 80%;
  max-width: 900px;
  margin: auto;
}
@media screen and (min-width: 499px) {
  .all-medias .series-container .series-list, .all-medias .series-container .movies-list, .all-medias .movies-container .series-list, .all-medias .movies-container .movies-list {
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (min-width: 699px) {
  .all-medias .series-container .series-list, .all-medias .series-container .movies-list, .all-medias .movies-container .series-list, .all-medias .movies-container .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 899px) {
  .all-medias .series-container .series-list, .all-medias .series-container .movies-list, .all-medias .movies-container .series-list, .all-medias .movies-container .movies-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1099px) {
  .all-medias .series-container .series-list, .all-medias .series-container .movies-list, .all-medias .movies-container .series-list, .all-medias .movies-container .movies-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.all-medias .series-container .series-list .image, .all-medias .series-container .movies-list .image, .all-medias .movies-container .series-list .image, .all-medias .movies-container .movies-list .image {
  height: 100%;
  max-width: 150px;
}
.all-medias .series-container .series-list .image img, .all-medias .series-container .movies-list .image img, .all-medias .movies-container .series-list .image img, .all-medias .movies-container .movies-list .image img {
  width: 100%;
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  background: rgb(61, 59, 84);
  background: linear-gradient(0deg, rgb(61, 59, 84) 0%, rgb(45, 44, 60) 18%);
  padding: 0 10px;
  height: 15vh;
}
@media screen and (min-width: 499px) {
  header {
    grid-template-columns: repeat(3, 1fr);
  }
}
header a {
  width: -moz-max-content;
  width: max-content;
}
header a figure {
  width: 100px;
  margin: 0;
}
@media screen and (min-width: 1000px) {
  header a figure {
    width: 150px;
  }
}
header a figure img {
  width: 100%;
}
header .name {
  display: none;
}
@media screen and (min-width: 499px) {
  header .name {
    display: initial;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
  }
}
@media screen and (min-width: 499px) {
  header .name {
    font-size: 2rem;
  }
}
header .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  align-items: center;
  width: 100%;
}
header .icons-container div {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media screen and (min-width: 999px) {
  header .icons-container div {
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
header .icons-container div svg {
  width: 30px;
  height: 30px;
  color: white;
  margin-right: 5px;
}
header .icons-container div p {
  display: none;
}
@media screen and (min-width: 999px) {
  header .icons-container div p {
    display: initial;
    text-align: center;
    color: white;
  }
}
header .icons-container .active div svg {
  color: #ee5b26;
}

footer {
  position: relative;
  width: 100%;
  text-align: center;
  background: rgb(45, 44, 60);
  background: linear-gradient(0deg, rgb(45, 44, 60) 83%, rgb(61, 59, 84) 100%);
  padding: 10px;
}
footer .name {
  margin-top: 5px;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #EE5B26;
}
@media screen and (min-width: 1000px) {
  footer .name {
    font-size: 1.5rem;
  }
}
footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}
footer .links a {
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  footer .links a {
    font-size: 1rem;
  }
}
footer .copyright {
  color: white;
  font-size: 0.8rem;
}
footer .copyright span {
  color: #EE5B26;
  font-family: "Orbitron", sans-serif;
}
footer .social {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 1000px) {
  footer .social {
    top: 20px;
    right: 20px;
  }
}
footer .social .fa-instagram,
footer .social .fa-linkedin {
  border-radius: 50%;
}
footer .social .fa-instagram::before,
footer .social .fa-linkedin::before {
  display: inline-block;
  font-size: 1.5rem;
}
@media screen and (min-width: 1000px) {
  footer .social .fa-instagram::before,
  footer .social .fa-linkedin::before {
    font-size: 2rem;
  }
}

.button {
  background-color: #ee5b26;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  min-width: 80px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  width: -moz-max-content;
  width: max-content;
}
.button:hover {
  color: #ee5b26;
  background-color: white;
}

.active-btn {
  background-color: white;
  border: none;
  color: #ee5b26;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  min-width: 80px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.active-btn:hover {
  color: #ee5b26;
  background-color: white;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #3D3B54;
}

a {
  color: white;
}

.name {
  color: #ee5b26;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

.carroussel {
  width: 80%;
  max-width: 900px;
  margin: auto;
  display: flex;
  gap: 10px;
  padding: 20px 0;
  overflow-x: scroll;
}
.carroussel .image {
  height: 240px;
}
.carroussel .image img {
  height: 100%;
}
.carroussel .empty-list {
  margin: auto;
  font-size: 1.2rem;
  color: #ee5b26;
}

.more {
  width: 15px;
  height: 15px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */