.all-medias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    h1,
    h2 {
        text-align: center;
        color: white;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .categories-select {
        margin: auto;
        width: 200px;
        text-align: center;
        border: 2px solid $orange;
        border-radius: 10px;
        padding: 10px;
        background-color: #3d3b54;
        color: white;

        .category {
            font-family: $text-font;
        }
        .all-series, .all-movies {
            font-weight: bold;
        }
    }

    .series-container, .movies-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .series-list, .movies-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
            padding: 10px 0;
            width: 80%;
            max-width: 900px;
            margin: auto;
            
            @media screen and (min-width:499px) {
                width: max-content;
            }
            @media screen and (min-width:699px) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media screen and (min-width:899px) {
                grid-template-columns: repeat(5, 1fr);
            }
            @media screen and (min-width:1099px) {
                grid-template-columns: repeat(6, 1fr);
            }

            .image {
                height: 100%;
                max-width: 150px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}